<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/index.css">
    <link rel="stylesheet" href="../style/stylesheet.css">
    <title>Document</title>
</head>
<body>
   <!--  <h1 class="mexican-font" >Hello world</h1>
    <h1></h1>
    <h1></h1>
    <h1></h1>
    <h1></h1> -->
    <section class="main" >
        <div class="main-body" >
            <section class="upper-section" >
                <article class="upper-section-left" >
                    <img class="upper-section-left-img" src="../assets/images/intro_img_1.png" alt="">
                </article>
                <article class="upper-section-left right" >
                    <img class="right-img" src="../assets/images/fit_me_logo.png" alt="">
                </article>
            </section>
            <!-- titulo de menu, info de contacto e insta -->
            <section class="middle-section" >
                <h1>Ensaladas</h1>
                <!-- oe: con el poder de Dios cuando sigamos 
                     manana: poner el titulo de la escogencia de las bases
                     y entrar de lleno a las ensaladas
                -->
                <h3></h3>
                <h3></h3>
            </section>
        </div>
    </section>
</body>
</html>